<ion-header>
  <ion-toolbar>
    <ion-title>weather</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="presentAlert('The app will give you local and real time weather details!')">
        <ion-icon slot="icon-only" name="alert" ></ion-icon>
      </ion-button>
      <ion-button  (click)="camera()">
        <ion-icon slot="icon-only" name="camera-outline" ></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-item (ionChange)="changeLocalToAPI(type)">
      <ion-label>Real Time</ion-label>
      <ion-toggle [(ngModel)]="type"></ion-toggle>
    </ion-item>
    <ion-item *ngIf="type">
      <ion-input type="text" placeholder="place" [(ngModel)]="searchPlace"></ion-input>
      <ion-button item-right (click)="searchWeather(searchPlace,'user')">Search</ion-button>
    </ion-item>
    <ion-item *ngIf="!type">
      <ion-label>Local</ion-label>
      <ion-select placeholder="Select place" [(ngModel)]="selectedLocal" (ionChange)="searchInLocal(selectedLocal)">
        <ion-select-option [value]="item.city" *ngFor="let item of localWeather">{{item.city}}</ion-select-option>
      </ion-select>
    </ion-item>  
  </ion-card>
  <ion-card class="mycard">
    <div class="shape shapeDetails">
      <div class="today">Today</div>
      <div class="temp_celcius">{{weatherShowData.temp_celcius}}°</div>
      <div><ion-icon name="{{weatherShowData.weatherIcon}}"></ion-icon></div>
      <div class="temp_min">Min:{{weatherShowData.temp_min}}° / Max:{{weatherShowData.temp_max}}°</div>
    </div>
    <ion-card-header>
      <ion-card-subtitle>{{weatherShowData.name}}</ion-card-subtitle>
      <ion-card-title>{{weatherShowData.weatherDes}}   <ion-icon name="{{weatherShowData.weatherIcon}}"></ion-icon>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-grid style="padding: 0;">
        <ion-row>
          <ion-col>
            <ion-icon name="calendar"></ion-icon> {{weatherShowData.tdate | date}}
          </ion-col>
          <ion-col style="position: relative;">
            <div class="feedback">
              <div><ion-card-subtitle>Feedback</ion-card-subtitle></div>
              <ion-buttons>
                <ion-button (click)="fireBase('good')">
                  <ion-icon slot="icon-only" name="happy-outline"></ion-icon>
                </ion-button>
                <ion-button (click)="fireBase('bad')">
                  <ion-icon slot="icon-only" name="sad-outline"></ion-icon>
                </ion-button>
              </ion-buttons>  
            </div>
                    
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
  <!-- <ion-card>
    <ion-card-header>
    </ion-card-header>
    <ion-card-content>
      
     
      
    </ion-card-content>
  </ion-card> -->
</ion-content>
