<ion-content>
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col class="ion-align-self-center" size-md="6" size-lg="5" size-xs="12">
        <ion-card>
          <div class="welcome" padding>
            <div>Welcome!</div>
          </div>
          
          <ion-card-header>
            <div class="loginIcon"><ion-icon name="person-outline"></ion-icon></div>
          </ion-card-header>
        
          <ion-card-content>
            
            <mat-tab-group [selectedIndex]="0" mat-align-tabs="center">
              <mat-tab label="LogIn"> 
                <div padding>
                  <ion-item >
                    <ion-input color="dark" type="email" placeholder="Username" [(ngModel)]="user.email" (ionChange)='onChangeTime($event.target.value)'></ion-input>
                  </ion-item>
                  <ion-item >
                    <ion-input color="dark" [type]="getType()" placeholder="Password" [(ngModel)]="user.password" (ionChange)='onChangeTime($event.target.value)'></ion-input>
                    <ion-icon name="eye" item-right (click)="toggleTextPassword()"></ion-icon>
                  </ion-item>
                </div>
          
                <div padding>
                  <ion-button size="large" shape="round" fill="outline" (click)="logIn()" [disabled]="isButtonActive">Login</ion-button>
                </div>
              </mat-tab>
              <mat-tab label="Register"> 
                <div padding>
                  <ion-item >
                    <ion-input color="dark" type="email" placeholder="Username" [(ngModel)]="register.email"></ion-input>
                  </ion-item>
                  <ion-item >
                    <ion-input color="dark" type="password" placeholder="Password" [(ngModel)]="register.password"></ion-input>
                  </ion-item>
                  <ion-item >
                    <ion-input color="dark" type="password" placeholder="Re-password" [(ngModel)]="register.repassword"></ion-input>
                  </ion-item>
                </div>
                <div padding>
                  <ion-button size="large" shape="round" fill="outline" (click)="registerUser()">Register</ion-button>
                </div>
              </mat-tab>
            </mat-tab-group>
          </ion-card-content>
        </ion-card>        
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
