<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <!-- <ion-back-button></ion-back-button> -->
    </ion-buttons>
    <ion-title>Take Photo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div class="flexCenter">
    <button mat-fab color="primary" (click)="openCamera()" aria-label="take photo">
      <span class="material-icons">
        add_a_photo
      </span>
    </button>
  </div>
  <!-- <mat-card>
    <div *ngIf="!imageUrl">No data available</div>
    <img *ngIf="imageUrl" [src]="imageUrl" style="width: auto;">
  </mat-card> -->

  <!-- fab placed to the bottom end -->
  <!-- <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="accessCamera()">
      <ion-icon name="camera"></ion-icon>
    </ion-fab-button>
  </ion-fab> -->
  
</ion-content>
