<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Take Photo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="flexCenter">
    <button mat-fab color="primary" (click)="accessCamera()" aria-label="take photo">
      <span class="material-icons">
        add_a_photo
      </span>
    </button>
  </div>
  <mat-card>
    <div *ngIf="!imageUrl">No data available</div>
    <img *ngIf="imageUrl" [src]="imageUrl.pic" style="width: auto;">
    <p  *ngIf="imageUrl">Before ion-img</p>
    <ion-img *ngIf="imageUrl" [src]="imageUrl.pic"></ion-img>
  </mat-card>
  
</ion-content>
