<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button  (click)="logOut()">
        <ion-icon slot="icon-only" name="power-outline" ></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Dashboard</ion-title>
  </ion-toolbar>
</ion-header> -->

<!-- <ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Score Card</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container" *ngIf="isScore">
    <ion-grid *ngIf="scorecard">
      <ion-row class="table_header">
        <ion-col class="custom-header"> Score Table</ion-col>
      </ion-row>
      <ion-row *ngFor="let item of scorecard[0].scorecard;let i=index">
        <ion-col>
          <mat-accordion class="zIndex">
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  {{ i + 1 }}
                </mat-panel-title>
                <mat-panel-title>
                  {{item.topic}}
                </mat-panel-title>
                <mat-panel-description class="sub_header">
                 <span class="points">
                   <ion-icon name="flower"></ion-icon>{{item.total_score}}
                  </span> 
                 <ion-icon name="calendar"></ion-icon>{{item.short_date}} 
                </mat-panel-description>
              </mat-expansion-panel-header>
              
              <ion-item *ngFor="let qtn of item.question_answers">
                <ion-label class="ion-text-wrap">
                  {{qtn.questions}}
                </ion-label>
                <span class="points">
                  {{qtn.points}} <ion-icon name="flower"></ion-icon>
                </span> 
              </ion-item>
      
            </mat-expansion-panel>
          </mat-accordion> 
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <div *ngIf="isWeather">

  </div>
</ion-content> -->
<ion-content>
  <ion-row class="Crow">
    <ion-col routerLink="/takePhoto">Crop Image</ion-col>
    <ion-col routerLink="/camera-priview">Image Priview</ion-col>
  </ion-row>
</ion-content>
<!-- <ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="one" (click)="changeTemplate('weather')">
      <ion-icon name="thunderstorm-outline"></ion-icon>
      <ion-label>Weather</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="two">
      <ion-icon name="camera-outline"></ion-icon>
      <ion-label>Camera</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="three" (click)="changeTemplate('score')">
      <ion-icon name="flame-outline"></ion-icon>
      <ion-label>Score</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs> -->
