$primary: #607D8B;
$secoundry: #e91e63;

#container {
  margin: 10px auto;
}
.custom-header{
  font-size: 18px;
  padding-left: 6px;
  margin-bottom: 5px;
  color: $primary;
  font-weight: 400;
}
.sub_header{
  flex-grow: initial;
  .points{
    color: $secoundry;
    margin-right: 10px;
  }
  ion-icon{
    margin-right: 5px;
  }
}
