$primary: #607D8B;
$secoundry: #e91e63;
$white-color: #fff;
$height100: 100%;
$dark-color: #303644;

#container {
  margin: 10px auto;
  padding: 15px;
}
.custom-header{
  font-size: 18px;
  padding-left: 6px;
  margin-bottom: 5px;
  color: $primary;
  font-weight: 400;
}
.table_header{
  padding-left: 18px;
}
.sub_header{
  flex-grow: initial;
  .points{
    color: $secoundry;
    margin-right: 10px;
  }
  ion-icon{
    margin-right: 5px;
  }
}
.zIndex{
  z-index: 100000;
}
.tabs-inner ion-router-outlet{
  display: none;
}
ion-tab-bar{
  background-color: $dark-color;
  ion-tab-button{
    background: transparent;
    color: white;
  }
}
.Crow{
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  ion-col{
    height: 20%;
    background: #414345;
    color: #FBC02D;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
    border-radius: 8px;
  }
}